body {
	background-color: #de1e6e2;
	color: white;
}

body a {
	color: #424242;
}

body h1, h2, h3 {
	color: #797979;
	margin-bottom: 2px;
}

p {
	color: black;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.nav a:hover:not(.active) {
  background-color: #232323;
}

.active {
  background-color: #01150f;
}

@media screen and (max-width: 600px) {
  .nav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width:800px) {
  div.bodyDiv p {
    width: 80%;
  }
}

@media screen and (max-width:700px) {
  div.bodyDiv p {
    width: 65%;
  }
}

@media screen and (max-width:600px) {
  div.bodyDiv p {
    width: 55%;
  }
}