body {
	background-color: #59208f;
	color: white;
}

body a {
	color: #424242;
}

body h1, h2, h3 {
	color: #501388;
}

p {
	color: black;
}

.img-responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .nav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width:800px) {
  div.bodyDiv p {
    width: 80%;
  }
}

@media screen and (max-width:700px) {
  div.bodyDiv p {
    width: 65%;
  }
}

@media screen and (max-width:600px) {
  div.bodyDiv p {
    width: 55%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #501388;
}

li {
  content-align: row;
  border: 1px solid black;
}

li a {
  display: block;
  color: #d0e800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.nav a:hover:not(.active) {
  background-color: #59208f;
}

div .nav {
	width: 75%;
	background-color: #59208f;
	content-align: center;
}

#outer {
	width: 100;
	border: 1px solid red;
	background-color: #501388;
}

.element_block {
    display:inline-block;
    border: 1px solid green;
    background-color: #59208f;
}