<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="School project">
<meta name="keywords"
	content="Java, Spring, SpringBoot, Thymeleaf, Github">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<title>Devtools.io</title>
</head>
<body>
	<div class="header">
		<img th:src="@{/images/header.jpg}" alt="devtools.io header"
			class="img-responsive" />
	</div>
	<nav>
		<ul>
			<li class="nav-item"><a th:href="@{/}">Home</a></li>
			<li class="nav-item"><a th:href="@{/tools}">Tools</a></li>
			<li class="nav-item"><a class="active" th:href="@{/contact}">Contact</a></li>
		</ul>
	</nav>
	<div id="outer-fixed-height">
		<div class="contact-block">
			<a class="contact-link" href="https://www.github.com/mitander"
				target="_blank">Github</a> <img th:src="@{/images/github.png}"
				alt="mail image" id="git-img" />
		</div>
		<div class="contact-block">
			<a class="contact-link" href="mailto:carlmitander@gmail.com">Mail
				me</a> <img th:src="@{/images/mail.png}" alt="mail image" id="mail-img" />
		</div>
	</div>

</body>
</html>