<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="School project">
<meta name="keywords"
	content="Java, Spring, SpringBoot, Thymeleaf, Github">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<title>Devtools.io</title>
</head>
<body>
	<div class="header">
		<img th:src="@{/images/header.jpg}" alt="devtools.io header"
			class="img-responsive" />
	</div>
	<nav id="nav-bar">
		<ul>
			<li class="nav-item"><a class="active" th:href="@{/}">Home</a></li>
			<li class="nav-item"><a th:href="@{/tools}">Tools</a></li>
			<li class="nav-item"><a th:href="@{/contact}">Contact</a></li>
		</ul>
	</nav>
	<div id="outer-fixed-height">
		<div id="index-text">
			<h2>Hello</h2>
			<p>This is a school project made with Spring Boot, Thymeleaf and
				Jackson.</p>
			<p>The purpose of this app is to keep all your development tools
				in the same place.</p>
			<p>Not sure what else I should type here. Brb getting some lorem
				ipsum. Nullam euismod, elit id bibendum semper, leo ex iaculis nibh,
				nec vehicula diam erat non ligula. Class aptent taciti sociosqu ad
				litora torquent per conubia nostra, per inceptos himenaeos.
				Vestibulum vel nisi ac urna rhoncus luctus. Aliquam tincidunt ex ut
				erat blandit porttitor. Nulla mollis mi mauris. Proin ornare, ante
				pharetra vulputate rhoncus, urna elit hendrerit leo, a pellentesque
				dolor sem ut mi. Phasellus luctus auctor tincidunt. Integer finibus
				augue sit amet ante scelerisque, non congue mauris placerat. Duis
				efficitur mauris quis sem dignissim, id vestibulum justo molestie.
				Phasellus a libero vestibulum sem pulvinar lacinia. Phasellus a
				maximus ex, sit amet bibendum urna. Pellentesque congue egestas
				nisl, ut facilisis mauris tincidunt consequat. Ut mollis justo vitae
				finibus dignissim. Sed imperdiet pretium lacus, sed cursus enim
				dignissim eu. Ut et ligula feugiat, mattis velit non, mattis mi.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nullam ullamcorper tristique libero at dictum. Quisque turpis nibh,
				suscipit eget ipsum et, lobortis pulvinar risus. Pellentesque quis
				vehicula purus. Vivamus mollis erat dui, ac aliquet magna pretium
				id. Vivamus tincidunt tincidunt turpis, id tempor nunc lacinia nec.
				Praesent vestibulum mollis massa sit amet facilisis. Phasellus
				eleifend leo et nisl pretium molestie. Aenean id sollicitudin lacus.
				Maecenas hendrerit, mi at accumsan ultricies, ipsum felis viverra
				turpis, fermentum mollis augue dui vitae velit. Proin sed mauris ut
				velit porttitor aliquet sed ut nulla. Ut ipsum orci, aliquam in
				laoreet et, efficitur sodales purus.</p>
		</div>
	</div>
</body>
</html>