<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description"
	content="School project">
<meta name="keywords"
	content="Java, Spring, SpringBoot, Thymeleaf, Github">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<title>Spring Boot Project</title>
</head>
<body>

	<div class="header">
		<img th:src="@{/images/header.png}" alt="devtools.io header"
			class="img-responsive"/>
	</div>


	<div class="nav">
		<ul>
			<li><a class="active" th:href="@{/}">Home</a></li>
			<li><a th:href="@{/resources}">Resources</a></li>
			<li><a th:href="@{/tags}">Tags</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
		</ul>
	</div>

	<div id="outer">
		<div class=element-block th:each="resource : ${allResources}">
			<div class="inner">
				<h2 th:text="${resource.getName()}"></h2>
				<a th:href="@{/resource/} + ${resource.getName()}">Read more</a>
				<a th:href="${resource.getWebsite()}">Visit Website</a>
			</div>
		</div>
	</div>

</body>
</html>