<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description"
	content="School project">
<meta name="keywords"
	content="Java, Spring, SpringBoot, Thymeleaf, Github">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<title>Spring Boot Project</title>
</head>
<body>
	<div class="header">
		<img th:src="@{/images/header.png}" alt="devtools header"
			class="img-responsive" />
	</div>

	<div class="nav">
		<a th:href="@{/}">Home</a> <a class="active" th:href="@{/classes}">Classes</a>
		<a th:href="@{/contact}">Contact</a>
		<span th:text="${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"></span>
	</div>

	<div class="row">
	</div>

</body>
</html>