<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description"
	content="School project">
<meta name="keywords"
	content="Java, Spring, SpringBoot, Thymeleaf, Github">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<title>Spring Boot Project</title>
</head>
<body>
	<div class="header">
		<img th:src="@{/images/header.jpg}" alt="devtools.io header"
			class="img-responsive"/>
	</div>
	<nav>
		<ul>
			<li class="nav-item"><a th:href="@{/}">Home</a></li>
			<li class="nav-item"><a th:href="@{/resources}">Resource</a></li>
			<li class="nav-item"><a class="active" th:href="@{/tags}">Tags</a></li>
			<li class="nav-item"><a th:href="@{/contact}">Contact</a></li>
		</ul>
	</nav>
	<div id="outer">
		<div class=element-block th:each="tag : ${allTags}">
			<div class="inner">
				<a th:href="@{/tags/} + ${tag}">
					<h2 th:text="${tag}"></h2>
				</a>
			</div>
		</div>
	</div>
</body>
</html>